# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VS Code settings
.vscode/

# OS files (Windows & Mac)
Thumbs.db
.DS_Store

# Python build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Misc
*.sqlite3
